# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environments
../.env
.env.*

# PIP
pip-log.txt

# Build
build/
dist/

# Uvicorn reload artifacts
*.db
